body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
   background-color: #F9F9F9;
}

td {
    font-size: 18px;
}

.img-fluid {
    max-height: 100px !important;
}

.gap-10 {
    gap: 10px;
}

.gap-25 {
    gap: 25px;
}

.form-select {
    width: fit-content;
    height: 100%;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}



.card-text{
    display: inline;
}
.box-shadow{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

