body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

td {
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}

.img-fluid {
    max-height: 100px !important;
}

.advertismentPage-card img {
    max-width: 300px;
    height: fit-content;
    max-height: 400px;
}

.gap-10 {
    gap: 10px;
}

.gap-25 {
    gap: 25px;
}

.form-select {
    width: fit-content;
    height: 100%;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

tr:hover {
    cursor: pointer;
}

.btn-box {
    width: auto;
}

form {
    width: 75%;
}

input {
    max-height: 37.6px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
textarea {
    max-height: 150px;
}

.card-text{
    display: inline;
}
